useDynLib(BGmix)

export(BGmix,ccSummary,ccTrace,ccParams,ccPred,
       plotCompare,plotBasic,plotTrace,plotFDR,plotPredChecks,plotMixDensity,
       calcFDR,TailPP,histTailPP,FDRforTailPP,FDRplotTailPP,
       EstimatePi0,readBGX)
